fish/fish_history
fish/fishd*

*.swp
*.pyc
/vim/vim
/vim/.netrwhist

/zsh/zshrc
/nvim/bundle/
/nvim/undodir/
nvim/.netrwhist
nvim/bundle/
nvim/undodir/
nvim/Vundle.vim/
nvim/ctrlp.vim/
nvim/jedi-vim/
nvim/nerdtree/
nvim/rust.vim/
nvim/vim-fish/
nvim/vim-kalisi/
